<div class="main-ti-container">
    <div class="icon-container">
        <div class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0703/5391/1873/files/trophy.png?v=1773429868" alt="Official Replica Jersey" width="50" height="50">
        </div>
        <div class="icon-title">
            <p><small>
                OFFICIAL REPLICA    
            </small></p>
        </div>
    </div>
        <div class="icon-container">
        <div class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0703/5391/1873/files/credit-card.png?v=1773429926" alt="SECURE CHECKOUT" width="50" height="50">
        </div>
        <div class="icon-title">
            <p><small>
                SECURE CHECKOUT    
            </small></p>
        </div>
    </div>
        <div class="icon-container">
        <div class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0703/5391/1873/files/fast-delivery.png?v=1773473937" alt="FAST SHIPPING" width="50" height="50">
        </div>
        <div class="icon-title">
            <p><small>
                FAST SHIPPING   
            </small></p>
        </div>
    </div>
</div>


<style>
    .main-ti-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.5rem;
        margin-top: 5rem;
    }
    .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f7;
    padding: 1rem;
    border-radius: 2rem;
    }
    .icon-container .icon-title {
    padding: 0;
    margin: 0;
    }
      .icon-container .icon-title p {
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center;
    }
</style>